
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.progress-container {
    width: 100%;
    padding: 40px 0 30px 0;
}

svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
