body {
  font-family: 'Roboto';
  font-weight: 100;
  width: 100%;
  text-align: center;
}

header {
  margin-top: 40px;
  font-size: 70px;
}

a:visited {
  color: black;
}
a:hover {
  color: black;
}
a {
  text-decoration: undeline;
  color: black;
  font-size: 20px;
}

/* file-picker component */

.file-picker {
  margin: 60px auto 80px auto;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.file-picker:hover {
  background-color: #333;
  fill: white;
}

.file-picker > * {
  position: absolute;
}

.file-picker__overlay {
  visibility: hidden;
  display: none;
  z-index: 10;
}

.file-picker__form, .file-picker__progress, .file-picker__overlay {
  width: 100%;
  height: 100%;
}

.file-picker__icon, .file-picker__icon--cancel {
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.file-picker__icon--cancel {
  opacity: 0;
}

.file-picker__icon path, polygon {
  transition: fill .2s ease;
}

.file-picker__progress > svg {
    height: 100%;
    display: block;
}

/* Disabled states */

.file-picker.uploading {
  fill: #bbb;
}

.file-picker.uploading:hover {
  background: none;
  fill: #333;
}

.file-picker.uploading > .file-picker__overlay {
  visibility: visible;
  display: block;
}

.file-picker.uploading > .file-picker__icon {
  opacity: 0;
}

.file-picker.uploading > .file-picker__icon--cancel {
  opacity: 1;
}

 /* Utilities */

.hidden {
  visibility: hidden;
  display: none;
}

.rotating {
  -webkit-animation: rotating 3s linear infinite;
  -moz-animation: rotating 3s linear infinite;
  -ms-animation: rotating 3s linear infinite;
  -o-animation: rotating 3s linear infinite;
  animation: rotating 3s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
