.intro-demo {
  height: 150px;
  width: 300px;
  margin: 30px 0 30px 0;

  > svg {
    display: block;
    height: 100%;
    width: 100%;
  }

  > p {
    font-size: 3.5rem;
    font-family: "Raleway", Helvetica, sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 700;
  }
}
