// Variables
$circle-width: 600px;

$main-color-bright: #FCB03C;
$main-color-dark: #6E6E6E;
$background-color-light: #FFF9F0;
$background-color-dark: #07A197;

$result-background: #FFEFD7;

// 3rd party libraries
@import "compass";
@import "reset.scss";
@import "animate.scss";
@import "rainbow-theme.scss";

// Custom helper files
@import "utils.scss";
@import "mixins.scss";

// The actual styles of page
@import "page.scss";
@import "examples.scss";

// Must be on bottom to override actual styles
@import "mediaqueries.scss";
