html, body {
    height: 100%;
    width: 100%;
}

body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: calc(3em + 2px);
    width: 300px;
}

.progress {
    margin: calc(0.6em + 1px) 0 0 0;
    position: relative;
    right: 2.5em;
}

svg {
    display: block;
    height: 1.8em;
}

/* Taken from http://blog.circleci.com/adaptive-placeholders/ */

input[type="password"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0 0 1em;
    padding: 1em 3em 1em 1.5em;
    border: 1px solid #cccccc;
    border-radius: 1.5em;
    background: #fff;
    resize: none;
    outline: none;
    color: #898989;
}
input[type="password"][required]:focus {
    border-color: #999;
}

input[type="password"][required]:focus + label[placeholder]:before,
input[type="password"][required]:valid + label[placeholder]:before {
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
    -ms-transform: translate(0, -1.5em) scale(0.9, 0.9);
    transform: translate(0, -1.5em) scale(0.9, 0.9);
}
input[type="password"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
}
input[type="password"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
}
input[type="password"][required] + label[placeholder]:before {
    content: attr(data-info);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    white-space: nowrap;
    -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    background: #fff;
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
    color: #898989;
}
