/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* line 17, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 33, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 6, ../sass/main.scss */
body, html {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* line 13, ../sass/main.scss */
h1 {
  font-size: 4em;
  color: #888;
}

/* line 18, ../sass/main.scss */
.landing {
  text-align: center;
  height: 100%;
  width: 100%;
  font-weight: 300;
}

/* line 26, ../sass/main.scss */
.circle-progress {
  float: left;
  width: 150px;
  padding: 40px 0 30px 0;
}

/* line 32, ../sass/main.scss */
.square-progress {
  float: left;
  width: 150px;
  padding: 40px 0 30px 0;
}

/* line 38, ../sass/main.scss */
.square2-progress {
  float: left;
  width: 150px;
  padding: 40px 0 30px 0;
}

/* line 44, ../sass/main.scss */
.progress-container {
  width: 100%;
  padding: 40px 0 30px 0;
}

/* line 49, ../sass/main.scss */
svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
