@import "compass";

@import "reset.scss";


body, html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 4em;
    color: #888;
}

.landing {
    text-align: center;
    height: 100%;
    width: 100%;
    font-weight: 300;
    //@include background-image(linear-gradient(#232526, #414345));
}

.square-progress {
    float: left;
    width: 150px;
    padding: 40px 0 30px 30px;
}

svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


.please {
    .inline {
        height: 100%;
        display: inline;
    }
}
