@import "compass";

@import "reset.scss";
@import "animate.scss";

@import "mixins.scss";

// Variables
$circle-width: 600px;
$background-color: #068F86;


body, html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    min-width: $circle-width;
    min-height: $circle-width;
    background: $background-color;
}


.full-window {
    height: 100%;
    width: 100%;
}

svg {
    display: block;
    height: 100%;
}

#landing {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 100;

    .background, .content {
        @include animation-duration(400ms);
    }

    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        .landing-progress {
            position: relative;
            width: $circle-width;
            height: $circle-width;
            top: 50%;
            margin: -300px auto 0 auto;
        }
    }

    .content {
        position: relative;
        color: #FCB03C;

        header {
            font-size: 3em;
            cursor: pointer;
        }
    }

    .float-right-down {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

.square-progress {
    float: left;
    width: 150px;
    padding: 40px 0 30px 30px;
}




#please {
    .inline {
        height: 100%;
        display: inline;
    }
}
