@import "compass";

@import "reset.scss";


body, html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


.full-window {
    height: 100%;
    width: 100%;
}

svg {
    display: block;
    height: 100%;
}


.center {
    /* Internet Explorer 10 */
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
}

#landing {

    .background, .content {
        width: 100%;
        height: 100%;
    }

    header {
        font-size: 4em;
        color: #888;
    }

    .big-background {
        height: 90%;
    }

    .float-right-down {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

.square-progress {
    float: left;
    width: 150px;
    padding: 40px 0 30px 30px;
}




#please {
    .inline {
        height: 100%;
        display: inline;
    }
}
