
@media all and (max-width: $circle-width) {

  header {
      font-size: 2.5em;
  }

  h1 {
      font-size: 2.2em;
  }

  h2 {
      font-size: 1.6em;
  }

  h3 {
      font-size: 1.4em;
  }
}

@media all and (max-width: $circle-width * 0.75) {

  header {
      font-size: 2.1em;
  }

  h1 {
      font-size: 1.9em;
  }

  h2 {
      font-size: 1.6em;
  }

  h3 {
      font-size: 1.2em;
  }

  p {
      font-size: 0.9em;
  }
}

@media all and (max-width: $circle-width * 0.55) {

  header {
      font-size: 1.7em;
  }

  h1 {
      font-size: 1.7em;
  }

  h2 {
      font-size: 1.4em;
  }

  h3 {
      font-size: 0.9em;
  }

  p {
      font-size: 0.9em;
  }
}
