/* line 1, ../sass/examples.scss */
#example-clock-container {
  position: relative;
}
/* line 4, ../sass/examples.scss */
#example-clock-container #clock-seconds {
  font-size: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 17, ../sass/examples.scss */
#example-line-container {
  position: relative;
}
/* line 20, ../sass/examples.scss */
#example-line-container svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 130%;
  height: 2px;
}
