@side-menu-width: 250px;

.side-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: @side-menu-width;
  height: 100%;
  overflow-y: auto;
}

body > .content {
  position: absolute;
  left: @side-menu-width;
  bottom: 0;
  top: 0;
  padding: 60px 60px 50px 60px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

div.github-link {
  position: absolute;
  z-index: 9999;
  top: 25px;
  right: 20px;
}

div.top-loading-bar {
  z-index: 9999999;
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
}

section.row {
  margin-top: 20px;
  margin-bottom: 40px;

  h4 {
    margin-bottom: 0;
  }
}
